@media (max-width: 480px) {

html, body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
}  


section .section1 .section1_box .section1_introduce .section1_ukymelar .ukymelar li:nth-child(1) {font-size: 28px;}

section .section3 .section3_box .section3_inbox .section3_inbox_title {font-size: 20px;}










/* sub1 css */
.sub1 section .sub1_section1 .sub1_section_box .sub1_section_inbox .sub1_section_inbox_title {font-size: 20px;}
.sub1 section .sub1_section1 .sub1_section_box .sub1_section_inbox .sub1_section {font-size: 16px;}




.footer_box {position: relative;}
.footer_inbox img {position: absolute; top: 0;}
.footer_iconbox {position: absolute; top: 0; right: -50px;}
footer .footer_box .footer_inbox p {font-size: 13px; white-space: nowrap; position: absolute; top: 80px;}
footer .footer_box .footer_inbox2 p {font-size: 13px; text-align: left; white-space: nowrap; position: absolute; left: 0; top: 30px;}












/* sub3 css */
.sub3 section .sub3_section1 .sub3_section_box .sub3_section_inbox .sub3_section_inbox_title {font-size: 20px;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox1 .simple_snap li:nth-child(1) {font-size: 17px;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox1 .simple_snap li:nth-child(2) {font-size: 17px; margin-top: 25px;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox1 .simple_snap li:nth-child(3) {font-size: 15px;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox1 .simple_snap li:nth-child(4) {font-size: 15px;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox1 .simple_snap li:nth-child(5) {font-size: 15px;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox1 .simple_snap li:nth-child(6) {font-size: 15px;}

.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox2 .simple_snap li:nth-child(1) {font-size: 17px;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox2 .simple_snap li:nth-child(2) {font-size: 17px;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox2 .simple_snap li:nth-child(3) {font-size: 15px;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox2 .simple_snap li:nth-child(4) {font-size: 15px;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox2 .simple_snap li:nth-child(5) {font-size: 15px;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox2 .simple_snap li:nth-child(6) {font-size: 15px;}

.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox3 .simple_snap li:nth-child(1) {font-size: 17px;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox3 .simple_snap li:nth-child(2) {font-size: 17px;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox3 .simple_snap li:nth-child(3) {font-size: 15px;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox3 .simple_snap li:nth-child(4) {font-size: 15px;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox3 .simple_snap li:nth-child(5) {font-size: 15px;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox3 .simple_snap li:nth-child(6) {font-size: 15px;}

.sub3 section .sub3_section1 .sub3_section_pricebox .sub3_section_pricebox_line {left: 40px; width: 400px;}

.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox1 {height: 380px;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox2 {height: 380px;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox3 {height: 380px;}


.sub3 section .sub3_section2 .sub3_section_box .pricebox_company .pricebox_hair .eventbox_title {font-size: 18px;}
.sub3 section .sub3_section2 .sub3_section_box .pricebox_company .eventbox_section .eventbox_container .eventbox_section1 .hair1 .hair1_title {font-size: 16px;}

.sub3 section .sub3_section2 .sub3_section_box .pricebox_company .eventbox_section .eventbox_container .eventbox_section1 .hair1 .hair1_price {font-size: 18px;}

.sub3 section .sub3_section2 .sub3_section_box .pricebox_company .eventbox_section .eventbox_container .eventbox_section1 .hair2 .hair1_title {font-size: 16px;}

.sub3 section .sub3_section2 .sub3_section_box .pricebox_company .eventbox_section .eventbox_container .eventbox_section1 .hair2 .hair1_price {font-size: 18px;}

.sub3 section .sub3_section2 .sub3_section_box .pricebox_company .eventbox_section .eventbox_container .eventbox_section1 .hair3 .hair1_title {font-size: 16px;}


.sub3 section .sub3_section2 .sub3_section_box .pricebox_company .eventbox_section .eventbox_container .eventbox_section2 .hair1 .hair1_title {font-size: 16px;}

.sub3 section .sub3_section2 .sub3_section_box .pricebox_company .eventbox_section .eventbox_container .eventbox_section2 .hair1 .hair1_price {font-size: 18px; padding: 15px 0;}

.sub3 section .sub3_section2 .sub3_section_box .pricebox_company .eventbox_section .eventbox_container .eventbox_section1 .hair3 .hair1_price {font-size: 18px;}



.sub3 section .sub3_section2 .sub3_section_box .pricebox_company .eventbox_section .eventbox_line {left: 10px; top: 110px; width: 400px;}
.sub3 section .sub3_section2 .sub3_section_box .pricebox_company .eventbox_section .eventbox_line2 {left: 10px; top: 255px; width: 180px;}
.sub3 section .sub3_section2 .sub3_section_box .pricebox_company .eventbox_section .eventbox_line3 {left: 10px; top: 425px; width: 180px;}

.sub3 section .sub3_section2 .sub3_section_box .pricebox_company .eventbox_section .eventbox_container .eventbox_section1 {height: 460px;}




.sub3 section .sub3_section2 .sub3_section_box .pricebox_company .eventbox_section .eventbox_line_last {top: 100px; left: 10px; width: 400px;}
.sub3 section .sub3_section2 .sub3_section_box .pricebox_company .eventbox_section .eventbox_container .eventbox_section2 .hair1 .mood {margin-top: 22px;}
.sub3 section .sub3_section2 .sub3_section_box .pricebox_company .eventbox_section .eventbox_container .eventbox_section2 .hair1 .hair1_price span {font-size: 16px;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_eventbox .eventbox_title {font-size: 18px;}
.sub3 section .sub3_section2-1 .pricebox_company .pricebox_askbox {font-size: 18px; margin-bottom: 50px;}




















/* sub4 css */
.sub4 section .sub4_section1 .sub4_section_box .sub4_section_inbox .sub4_section_inbox_title {font-size: 20px;}

.sub4 section .sub4_section1 .sub4_section_pricebox .pricebox_detailbox .detailbox1 {height: 220px;}
.sub4 section .sub4_section1 .sub4_section_pricebox .pricebox_detailbox .detailbox2 {height: 220px;}

.sub4 section .sub4_section1 .sub4_section_pricebox .sub4_section_pricebox_line {width: 400px; left: 40px;}

.sub4 section .sub4_section1 .sub4_section_pricebox .pricebox_eventbox .eventbox_title {font-size: 18px;}

.sub4 section .sub4_section2 .sub4_sample .sub4_samplebox .samplebox_left li {font-size: 17px;}




.sub4 section .sub4_section2 .sub4_sample .sub4_samplebox .sample_right li:nth-child(4) {line-height: 30px; margin-top: 18px;}

.sub4 section .sub4_section2 .sub4_sample .sub4_samplebox .sample_right li:nth-child(5) {line-height: 30px; margin-top: 30px;}

.sub4 section .sub4_section2 .sub4_sample .sub4_samplebox .sample_right li:nth-child(6) {line-height: 30px; margin-top: 30px;}
.sub4 section .sub4_section2 .sub4_sample .sub4_samplebox .sample_right li:nth-child(7) {line-height: 30px;}
.sub4 section .sub4_section2 .sub4_sample .sub4_samplebox .sample_right li:nth-child(8) {line-height: 30px;}
.sub4 section .sub4_section2 .sub4_sample .sub4_samplebox .sample_right li:nth-child(9) {line-height: 30px; margin-top: 12px;}

.sub4 section .sub4_section2 .sub4_sample .sub4_samplebox .samplebox_left li:nth-child(6) {margin-top: 50px;}


.sub4 section .sub4_section2 .sub4_sample .sub4_samplebox {height: 780px;}

.sub4 section .sub4_section2 .sub4_section_pricebox_line {width: 400px; left: 10px;}
.sub4 section .sub4_section2 .sub4_section_pricebox_line2 {width: 400px; left: 10px;}
.sub4 section .sub4_section2 .sub4_section_pricebox_line3 {width: 400px; left: 10px;}
.sub4 section .sub4_section2 .sub4_section_pricebox_line4 {width: 400px; left: 10px; top: 380px;}
.sub4 section .sub4_section2 .sub4_section_pricebox_line5 {width: 400px; left: 10px; top: 500px;}

.sub4 section .sub4_section2 .pricebox_askbox {margin-bottom: 50px;}

/* sub5 css */
.sub5 section .sub5_section1 .sub5_section_box .sub5_section_inbox .sub5_section_inbox_title {font-size: 20px;} 
.sub5 section .sub5_section1 .sub5_section_box .sub5_section_inbox .sub5_section {font-size: 16px;}
.sub5 .review_list_section {margin-bottom: 50px;}











}