@media (max-width: 768px) {
html, body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
}




/* hero_box */
.hero_box {display: none;}

/* hero */
.hero {box-sizing: border-box;}
.hero .swiper-wrapper {height: clamp(100px, 50vh, 500px);}
.hero .swiper-wrapper img {width: 100%; max-width: 100%; height: 100%; object-fit: cover; box-sizing: border-box;}

/* section1 */
section .section1 {width: 100%; max-width: 100%; padding: 0 30px; box-sizing: border-box;}
section .section1 .section1_box {margin-top: 30px;}
section .section1 .section1_box .section1_introduce {}
section .section1 .section1_box .section1_pic img {width: clamp(200px, 50vw, 350px);}



/* section2 */
section .section2 {height: 50%; max-height: 50%; margin-bottom: 0;}
section .section2 .swiper-wrapper {height: clamp(200px, 50vh, 400px);}
section .section2 .swiper-wrapper img {height: 100%; width: 100%;}




/* section3 */
section .section3 {}
section .section3 .section3_box {width: 100%; max-width: 100%; height: 500px;}





























/* sub1 css */
.sub1 section {margin-top: 50px;}
.sub1 .sub1_section_inbox_photo img {width: 100%; max-width: 100%; box-sizing: border-box;}











/* sub2 css */
.sub2 section {margin-top: 50px;}
.sub2 section .sub2_section1 .sub2_section_photobox {width: 100%; max-width: 100%; padding: 0 20px; box-sizing: border-box; margin-bottom: 50px;}
.sub2 section .sub2_section1 .sub2_section_photobox .sub2_photobox img {width: 100%; max-width: 100%;}
















/* sub3 css */
.sub3 section {margin-top: 50px;}
.sub3 section .sub3_section1 .sub3_section_pricebox {width: 100%; max-width: 100%; padding: 0 30px; box-sizing: border-box;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_title {width: 100%; max-width: 100%;}

.sub3 section .sub3_section1 .sub3_section_pricebox .sub3_section_pricebox_line {width: 670px; left: 50px;}

.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox1 {height: 360px; padding: 0 5px; box-sizing: border-box;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox2 {height: 360px; padding: 0 5px; box-sizing: border-box;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox3 {height: 360px; padding: 0 5px; box-sizing: border-box;}

.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox1 .simple_snap li:nth-child(1) {font-size: 20px;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox1 .simple_snap li:nth-child(2) {font-size: 20px;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox1 .simple_snap li:nth-child(3) {font-size: 16px;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox1 .simple_snap li:nth-child(4) {font-size: 16px;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox1 .simple_snap li:nth-child(5) {font-size: 16px;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox1 .simple_snap li:nth-child(6) {font-size: 16px;}




.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox2 .simple_snap li:nth-child(1) {font-size: 20px;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox2 .simple_snap li:nth-child(2) {font-size: 20px; margin-top: 25px;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox2 .simple_snap li:nth-child(3) {font-size: 16px;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox2 .simple_snap li:nth-child(4) {font-size: 16px;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox2 .simple_snap li:nth-child(5) {font-size: 16px;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox2 .simple_snap li:nth-child(6) {font-size: 16px;}

.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox2 .simple_snap li img {display: none;}




.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox3 .simple_snap li:nth-child(1) {font-size: 20px;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox3 .simple_snap li:nth-child(2) {font-size: 20px; margin-top: 25px;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox3 .simple_snap li:nth-child(3) {font-size: 16px;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox3 .simple_snap li:nth-child(4) {font-size: 16px;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox3 .simple_snap li:nth-child(5) {font-size: 16px;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox3 .simple_snap li:nth-child(6) {font-size: 16px;}

.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_detailbox .detailbox3 .simple_snap li img {display: none;}




.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_askbox {width: 100%; max-width: 100%;}
.sub3 section .sub3_section1 .sub3_section_pricebox .pricebox_askbox img {width: 100%; height: 100%; object-fit: cover;}



.sub3 section .sub3_section2 .sub3_section_box {width: 100%; max-width: 100%; padding: 0 30px; box-sizing: border-box;}
.sub3 section .sub3_section2 .sub3_section_box .pricebox_title {width: 100%; max-width: 100%;}
.sub3 section .sub3_section2 .sub3_section_box .pricebox_company {width: 100%; max-width: 100%; box-sizing: border-box;}
.sub3 section .sub3_section2 .sub3_section_box .pricebox_company .pricebox_pic {width: 100%; max-width: 100%;}
.sub3 section .sub3_section2 .sub3_section_box .pricebox_company .pricebox_pic img {width: 48%; max-width: 100%;}






.sub3 section .sub3_section2 .sub3_section_box .pricebox_company .eventbox_section .eventbox_line {width: 670px;}
.sub3 section .sub3_section2 .sub3_section_box .pricebox_company .eventbox_section .eventbox_line2 {width: 305px;}
.sub3 section .sub3_section2 .sub3_section_box .pricebox_company .eventbox_section .eventbox_line3 {width: 305px;}
.sub3 section .sub3_section2 .sub3_section_box .pricebox_company .eventbox_section .eventbox_line4 {display: none;}


.sub3_section2-1 .pricebox_company .pricebox_askbox {width: 100%; max-width: 100%;}


















/* sub4 css */
.sub4 section {margin-top: 50px;}
.sub4 section .sub4_section1 .sub4_section_pricebox {width: 100%; max-width: 100%; padding: 0 30px; box-sizing: border-box;}
.sub4 section .sub4_section1 .sub4_section_pricebox .pricebox_title {width: 100%; max-width: 100%;}

.sub4 section .sub4_section1 .sub4_section_pricebox .sub4_section_pricebox_line {width: 670px; left: 50px;}

.sub4 section .sub4_section1 .sub4_section_pricebox .pricebox_detailbox .detailbox1 {height: 230px; padding: 0 5px; box-sizing: border-box;}
.sub4 section .sub4_section1 .sub4_section_pricebox .pricebox_detailbox .detailbox2 {height: 230px; padding: 0 5px; box-sizing: border-box;}


.sub4 section .sub4_section1 .sub4_section_pricebox .pricebox_detailbox .detailbox1 .simple_snap li:nth-child(1) {font-size: 20px;}
.sub4 section .sub4_section1 .sub4_section_pricebox .pricebox_detailbox .detailbox1 .simple_snap li:nth-child(2) {font-size: 20px;}
.sub4 section .sub4_section1 .sub4_section_pricebox .pricebox_detailbox .detailbox1 .simple_snap li:nth-child(3) {font-size: 16px;}


.sub4 section .sub4_section1 .sub4_section_pricebox .pricebox_detailbox .detailbox2 .simple_snap li:nth-child(1) {font-size: 20px;}
.sub4 section .sub4_section1 .sub4_section_pricebox .pricebox_detailbox .detailbox2 .simple_snap li:nth-child(2) {font-size: 20px;}
.sub4 section .sub4_section1 .sub4_section_pricebox .pricebox_detailbox .detailbox2 .simple_snap li:nth-child(3) {font-size: 16px;}


.sub4 section .sub4_section1 .sub4_section_pricebox .pricebox_detailbox .detailbox2 .simple_snap .snap_l {display: none;}
.sub4 section .sub4_section1 .sub4_section_pricebox .pricebox_detailbox .detailbox2 .simple_snap .snap_r {display: none;}

.sub4 section .sub4_section2 {width: 100%; max-width: 100%; padding: 0 30px; box-sizing: border-box;}
.sub4 section .sub4_section2 .sub4_sample {width: 200%; max-width: 100%;}
.sub4 section .sub4_section2 .sub4_sample .sub4_samplebox {width: 100%; max-width: 100%; box-sizing: border-box;}
.sub4 section .sub4_section2 .sub4_sample .pricebox_title {width: 100%; max-width: 100%;}

.sub4 section .sub4_section2 .sub4_sample {width: 100%; max-width: 100%;}
.sub4 section .sub4_section2 .sub4_sample .pricebox_title {width: 100%; max-width: 100%;}
.sub4 section .sub4_section2 .sub4_sample .sub4_samplebox .samplebox_left li {width: 250px; font-size: 18px; color: #B3626E; margin-top: 20px; text-indent: 30px; line-height: 70px;}


.sub4 section .sub4_section2 .sub4_section_pricebox_line {width: 670px; height: 1px; background: #ca7e89; position: absolute; top: 100px; left: 20px;}
.sub4 section .sub4_section2 .sub4_section_pricebox_line2 {width: 670px; height: 1px; background: #ca7e89; position: absolute; top: 190px; left: 20px;}
.sub4 section .sub4_section2 .sub4_section_pricebox_line3 {width: 670px; height: 1px; background: #ca7e89; position: absolute; top: 280px; left: 20px;}
.sub4 section .sub4_section2 .sub4_section_pricebox_line4 {width: 670px; height: 1px; background: #ca7e89; position: absolute; top: 370px; left: 20px;}
.sub4 section .sub4_section2 .sub4_section_pricebox_line5 {width: 670px; height: 1px; background: #ca7e89; position: absolute; top: 460px; left: 20px;}


.sub4 section .sub4_section2 .sub4_sample .sub4_samplebox .sample_right li:nth-child(1) {text-indent: 0; font-size: 16px;}
.sub4 section .sub4_section2 .sub4_sample .sub4_samplebox .sample_right li:nth-child(2) {text-indent: 0; font-size: 16px;}
.sub4 section .sub4_section2 .sub4_sample .sub4_samplebox .sample_right li:nth-child(3) {text-indent: 0; font-size: 16px;}
.sub4 section .sub4_section2 .sub4_sample .sub4_samplebox .sample_right li:nth-child(4) {text-indent: 0; font-size: 16px;}
.sub4 section .sub4_section2 .sub4_sample .sub4_samplebox .sample_right li:nth-child(5) {text-indent: 0; font-size: 16px;}
.sub4 section .sub4_section2 .sub4_sample .sub4_samplebox .sample_right li:nth-child(6) {text-indent: 0; font-size: 16px;}
.sub4 section .sub4_section2 .sub4_sample .sub4_samplebox .sample_right li:nth-child(7) {text-indent: 0; font-size: 16px;}
.sub4 section .sub4_section2 .sub4_sample .sub4_samplebox .sample_right li:nth-child(8) {text-indent: 0; font-size: 16px;}
.sub4 section .sub4_section2 .sub4_sample .sub4_samplebox .sample_right li:nth-child(9) {text-indent: 0; font-size: 16px;}

.sub4 section .sub4_section2 .pricebox_askbox {width: 100%; max-width: 100%;}
.sub4 section .sub4_section2 .pricebox_askbox img {width: 100%; height: 100%; object-fit: cover;}




















/* sub5 css */
.sub5 section {margin-top: 50px;}

}




@media (max-width: 699px) {
    html, body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
}

section .section1 {}
section .section1 .section1_box {display: flex; flex-direction: column; margin-top: 30px;}
section .section1 .section1_box .section1_introduce {z-index: 1; height: 400px; margin-bottom: 0;}

section .section2 {}
section .section2 .film1 {margin-top: 30px;}




section .section3 .section3_box {height: 500px;}




footer {}
}